.WarningLogin {
   padding-bottom: 30px;
   font-size: 16px;
}

.WarningLogin--response {
   padding-left: 30px;
}

.WarningLogin:focus {
   outline: none;
}

.WarningLogin-link {
   color: #0087E9;
   cursor: pointer;
}

.WarningLogin-cancel {
   color: #666666;
   text-decoration: underline;
   cursor: pointer;
}