.PaginationBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   padding: 2px;
   font-size: 16px;
   cursor: pointer;
   color: #000;
}

.PaginationBtn:hover {
   background-color: #E1E1E1;
}

.PaginationBtn-active {
   pointer-events: none;
   background-color: #0087E9;
   color: #fff;
}

.PaginationBtn-active:hover {
   background-color: #0087E9;
}