.CardComment {
   font-size: 12px;
}

.CardComment--child {
   padding-left: 30px;
   margin-top: 30px;
}

.CardComment-head {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.CardComment-username {
   font-weight: 700;
   margin-right: 10px;
}

.CardComment-username--active {
   color: #666666;
}

.CardComment-date {
   color: #666666;
}

.CardComment-comment {
   font-size: 14px;
   margin-bottom: 10px;
}

.CardComment-btn {
   color: #0087E9;
   cursor: pointer;
}